*~
*.o
*.diff
*.out
*.log
*.protex
*.pyc

Makefile.DEPEND
Makefile.RULES

AMREX
HYPRE
pyfits

CRASH/doc/EvidenceFile.pdf
CRASH/doc/GrayDiffusion.pdf
CRASH/doc/HEDP.pdf
CRASH/doc/Tex/EvidenceFile.aux
CRASH/doc/Tex/GrayDiffusion.aux
CRASH/doc/Tex/HEDP.aux
CRASH/doc/Tex/HEDP_Appendixes.aux
CRASH/doc/Tex/HEDP_Part1.aux
CRASH/doc/Tex/HEDP_Part2.aux
CRASH/doc/Tex/ionization_equilibrium.aux
CRASH/doc/ionization_equilibrium.pdf

DATAREAD/srcMagnetogram/FDIPS.in
DATAREAD/srcMagnetogram/HARMONICS.in
DATAREAD/srcMagnetogram/fitsfile.dat
DATAREAD/srcMagnetogram/harmonics11uniform.dat
DATAREAD/srcMagnetogram/potentialfield.dat
DATAREAD/srcMagnetogram/*.exe
DATAREAD/srcMagnetogram/adapt*
