*~
*.o
*.diff
*.out
*.log
Makefile.DEPEND
Makefile.RULES
HYPRE
DATAREAD/srcMagnetogram/FDIPS.in
DATAREAD/srcMagnetogram/HARMONICS.in
DATAREAD/srcMagnetogram/fitsfile.dat
DATAREAD/srcMagnetogram/harmonics11uniform.dat
DATAREAD/srcMagnetogram/potentialfield.dat
